* {
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
}


:root {
    --primary: linear-gradient(to bottom right, #000000, #3f00ee);
    --secondary: #0187a7;
    --text: #fff;
}


.dd_menu {
    position: relative;
}

.main-video p {
    color: #a8a7a7;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95vw;
    grid-template-columns: 1.8fr 1.2fr;
    gap: 1rem;
    padding: .5rem 1rem;
    text-transform: capitalize;
    color: #fff;
}

.main-video {
    width: 80%;
    height: 35rem;
}

.video-playlist {
    width: 100%;
    height: 47rem;
}

.main-video .title {
    margin-top: 1rem;
}


.video-playlist>p {
    padding: 1rem;
    color: var(--secondary);
}

.video-playlist .videos {
    height: 70%;
    overflow-y: auto;
}

.video-playlist .videos::-webkit-scrollbar {
    width: .4rem;
    border-radius: .4rem;
    background-color: #0005;
}

.video-playlist .videos::-webkit-scrollbar-thumb {
    border-radius: .4rem;
    background-color: #fff;
}

.video-playlist .videos .video {
    position: relative;
    width: 100%;
    height: 4rem;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 1rem;
    margin-top: .1rem;
    cursor: pointer;

    border-radius: .5rem;
}

.video-playlist .videos .video:hover {
    background-color: #0003;
}

.video-playlist .videos .video.active {
    background-color: #0003;
    color: var(--secondary);
}

.main-video video {
    width: 100%;
    border-radius: .5rem;
}

.video img {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1.5rem;
    height: 1.5rem;
    filter: invert(100%);
}

.video-playlist .videos .video.active img {
    filter: invert(100%) sepia(100%) saturate(2000%) hue-rotate(360deg);
}

.video p {
    margin-left: 2.5rem;
}

.video h3 {
    width: 23rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    font: 100 1rem sans-serif;
    padding: 0 .5rem;
}


.comente {
    position: relative;
    left: 100px;
    color: #f17070;
}

/* COMENTARIOS */
.com {
    width: 100%;


}

.com p {
    color: #a63030;
    position: relative;
    left: 5%;

}

.com h2 {
    color: #fff;
}

.textarea {
    color: #fff;

}

textarea {

    height: 100px;
    width: 40%;
    border: none;
    padding: 6px;
    font-size: 14pt;
    margin: 9px;
    outline: none;
    display: block;
    background: #4a4b4b;
    border-radius: 10px;

}

::placeholder {
    color: #ffffff;
}

input[type=submit] {
    color: #fff;
    width: 220px;
    height: 52px;
    font-family: 'Poppins', sans-serif;
    background-color: #0187a7;
    border: 1px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    display: block;
}

input[type=submit]:hover {
    background-color: #037592;

}

/* area COMENTARIOS */

.area-com {

    box-sizing: border-box;
    background-color: rgb(73, 73, 73);
    border-radius: 10px;
    height: 100px;
    clear: both;
    width: 45%;
    margin-top: 1%;




}

.area-com h3 {
    float: left;
    text-transform: capitalize;
    color: rgb(1, 230, 255);
    font-size: 12pt;
    padding: 5px 10px 5px 0px;
    height: 100px;
    position: relative;
    left: 60px;
}

.area-com h4 {
    float: left;
    font-size: 10pt;
    color: rgba(255, 255, 255, 0.6);
    line-height: 30px;
    position: relative;
    left: 60px;


}

.area-com h4 a {
    color: red;


}

.area-com p {
    line-height: 25px;
    top: 25px;
    color: #fff;
    position: relative;
    float: left;
    display: flex;
    left: -100px;

}

.img {
    position: absolute;
    left: 195px;

}

/* ROLAGEM DE ANIMES */
.product {
    overflow: hidden;
    padding: 20px;
    width: 125%;
    left: -9%;
}

.novidade {
    display: flex;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
    font-family: 'Noto Sans', sans-serif;
    justify-content: center;
    color: #fff;
}

.product-container {
    padding: 0vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
    display: none;
}

.product-card {
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 40px;
}

.product-image {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.product-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.card-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #0187a7;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}

.card-b {
    display: block;
    color: #fff;
    text-decoration: none;


}

.product-card:hover .card-btn {
    opacity: 1;
}

.card-btn:hover {
    background: #0a3f4d;
    color: #000000;
}

.qualidade-tag {
    position: absolute;
    background: #0187a7;
    padding: 5px;
    border-radius: 5px;
    color: #ffffff;
    right: 10px;
    top: 10px;
    text-transform: capitalize;
}

.product-info {
    width: 100%;
    height: 100px;
    padding-top: 10px;
}

.product-brand {
    text-transform: uppercase;
    color: #fff;
}

.product-short-description {
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
    color: #fff;
}

.desc {
    font-weight: 900;
    font-size: 20px;
    color: #0187a7;
}

.pre-btn,
.nxt-btn {
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(48, 48, 48) 100%);
    cursor: pointer;
    z-index: 8;
}

.pre-btn {
    left: 0;
    transform: rotate(180deg);
}

.nxt-btn {
    right: 0;
}

.pre-btn img,
.nxt-btn img {
    opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
    opacity: 1;
}

.footeranime {
    margin-top: 5%;
    width: 134%;
    margin-left: -15%;
}




@media screen and (max-width: 1095px) {


    .mobile-procurar-icon button {
        display: none;
    }

    .img {
        position: absolute;
        left: 55px;

    }

    .open {
        display: block;
    }

    .area-com {
        width: 110%;

    }

    textarea {
        width: 100%;

    }

    .video-playlist {
        width: 100%;
        height: 25rem;
    }

    .footeranime {
        margin-top: 5%;
        width: 160%;
        margin-left: -30%;
    }

}